<app-navbar></app-navbar>

<!-- Contenedor de Detalles de Película -->
<div class="flex-1 p-8 flex flex-col lg:flex-row items-center justify-center bg-black text-white">
  <!-- Div para la Imagen (Col 6/12 en pantallas grandes) -->
  <div class="flex justify-center lg:w-4/12 mb-4 lg:mb-0">
    <img 
      src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}" 
      alt="Nombre de la Película" class=" w-96">
  </div>

  <!-- Div para la Información de la Película (Col 6/12 en pantallas grandes) -->
  <div class=" lg:w-8/12">
    <!-- Información de la Película -->
    <h2 class="text-3xl font-bold mb-2">{{getMovieDetailResult.title}}</h2>
    <p class="text-gray-300 mb-4">{{getMovieDetailResult.overview}}</p>

    <!-- Otras Características de la Película -->
    <div class="flex flex-wrap mb-4">
      <div class=" sm:w-1/2 md:w-1/3 lg:w-1/2 mb-4">
        <!-- Característica 1 -->
        <p class="font-semibold">Fecha de lanzamiento: {{getMovieDetailResult.release_date}}</p>
        <p class="font-semibold">Clasificación: {{getMovieDetailResult.vote_average}}</p>
      </div>
      <!-- Repite para otras características -->
    </div>

    <!-- Botón de Volver o Acciones Adicionales -->
    <button
      class="bg-red-600 px-6 py-2 rounded cursor-pointer text-white"
      [routerLink]="['/lista-peliculas']"
    >
      Volver
    </button>
  </div>
</div>