<div  class="w-[160px] sm:w-[200px] md:w[240px] lg:w-[280px] inline-block cursor-pointer relative p-2" (click)="gotodetails()">
    <img
      class="transform transition inline-block duration-500 hover:scale-105"
      src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"
      alt=""
    />
    <div>
        <p class="absolute top-4 left-4 text-gray-300">
            <svg class="h-8 w-8 text-white-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7" /></svg>
        </p>
    </div>
</div>